body {
    min-height: 100%;
    width: 100%;
    background: url("/Users/marksampson/Documents/precourse/PRE-section-3/finalChallenge/images/wood2.jpeg") #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #252525;
    font-family: 'Roboto Mono', sans-serif;   
    font-size: 0.9em;  
}

nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #82a0d1a4;
}

nav a {
    padding: 10px 5px 10px 10px;
    text-decoration: none;
    color: #362e33;
    display: block;
    margin: auto;
    transition: 0.2s;
}

.fa:hover {
    transform: scale(1.11,1.1);
    color: #ecdaaf;    
}

a .linked {
    position: relative;
    left: 2px;
}

nav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 1.3em;
    margin-left: 50px;
}

#menu {
    display: inline;
    position: relative;
    left: 20px;
    top: 20px;
    text-shadow: 0px 0px 4px #252525;
    color: #86a6dae5;
    transition-duration: 0.3s;
}

.grid {
    display: grid;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    grid-template: auto auto auto 1fr / repeat(12, 1fr);
}

.banner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / -1;
    background-color: #ecdaaf6f;
    border-bottom: 2px solid #252525b6;
}

.face {
    grid-column: 2 / 12;
    grid-row: 1 / 2;
    margin: 30px auto;
    padding: 0px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px #000000;
    max-height: 270px;
}

.words {
    grid-column: 2 / 12;
    grid-row: 2 / 3;
    margin: 20px auto;
    padding: 20px;
    background-color: #86a6dae5;
    border-radius: .2rem;
    box-shadow: 0 0 10px #000;
}

.git-material {
    grid-column: 2 / 12;
    grid-row: 3 / 4;
    display: grid;
    grid-template: repeat(4, auto) / repeat(2, 2fr);
    grid-gap: 10px;
    font-size: 1.9rem;
    font-weight: 700;
    text-align: center;
}

.git-text {
    grid-column: 1 / -1;
    min-height: 0px;
    max-width: 100%;
    font-size: 2rem;    
}

.git-text p {
    margin: 40px auto;
    padding: 15px;
    max-width: 350px;
    background-color: #86a6dae5;
    border-radius: .2rem;
}

.scoreTrack {
    background: url('../images/scoretrack.png') 46% 50%/200% repeat fixed;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    border-radius: .2rem;
    box-shadow: inset 0 0 0 1000px #99b5e2cf;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

.scoreTrack:hover {
    box-shadow: inset 0 0 0 1000px #a5a4a400;
    transform: scale(1.015, 1.015);
}

.scoreTrack:hover p {
    display: none;
}

.scoreTrack p {
    margin: 90px 20px;
}

.rgb {
    background: url('../images/rgb1.png') 44% 100%/200% no-repeat fixed;
    grid-column: 1 / -1; 
    grid-row: 3 / 4;
    width: 100%;    
    min-height: 300px;   
    max-height: 300px;    
    border-radius: .2rem;
    box-shadow: inset 0 0 0 1000px #99b5e2cf;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

.rgb:hover {
    box-shadow: inset 0 0 0 1000px #a5a4a400;
    transform: scale(1.015, 1.015);
}

.rgb:hover p {
    display: none;
}

.rgb p {
    margin: 110px 20px;    
}

.drum {
    background: url('../images/drum.png') -5% 30%/180% no-repeat fixed;
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    width: 100%;    
    min-height: 300px; 
    max-height: 300px;  
    border-radius: .2rem;     
    box-shadow: inset 0 0 0 1000px #99b5e2cf;  
    transition-duration: 0.1s;
    transition-timing-function: ease-out;  
}

.drum:hover {
    box-shadow: inset 0 0 0 1000px #a5a4a400; 
    transform: scale(1.015, 1.015);
}

.drum:hover p {
    display: none;
}

.drum p {
    margin: 90px 20px;    
}

.logoArea {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
}

.logo {
    display: block;
    min-width: 200px;
    max-width: 33%;
    filter: drop-shadow(1px 1px 7px #000) invert(1%);
    fill: #95b9f3;
    margin: auto;
}

@media only screen and (min-width: 490px) {
    #menu {
        position: fixed;
    }
    .face {
    max-height: 310px;        
    }
    .git-material {
        margin-top: 50px;
    }
    .git-text {
        grid-column: 1 / 2;
    }
    .git-text p {
        margin: 110px auto;
    }
    .scoreTrack {  
        background: url('../images/scoretrack.png') 46% 20%/280% no-repeat scroll;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .rgb {
        background: url('../images/rgb1.png') 50% 100%/cover no-repeat scroll;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .drum {
        background: url('../images/drum.png') -5% 30%/cover no-repeat scroll;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .logoArea {
        grid-row: 4 / 5;
    }
    .logo {
        display: inline;
        min-width: 100px;
        max-width: 32%;
    }
}

@media only screen and (min-width: 890px) {
    .face {
        grid-column: 2 / 5;
    }
    .words {
        grid-column: 7 / 12;
        grid-row: 1 / 2;
        margin: auto;
    }
    .scoreTrack {
        background-size: 170%;         
    }
    .scoreTrack p {
        margin: 110px 20px;
    }
    .rgb {
        background-position: 20% 0%;
        background-repeat: repeat;
    }
    .drum {
        background: url('../images/drum.png') -5% 0%/cover no-repeat scroll;        
    }
    .drum p {
        margin: 110px 20px;
    }
    .logoArea {
        grid-column: 3 / 11;
        margin-top: 50px;
    }
}

@media only screen and (min-width: 1200px) {
    .face {
        grid-column: 3 / 6;
        max-height: 360px;
        margin: 50px auto;
    }
    .words {
        grid-column: 7 / 11;
    }
    .git-material {
        grid-column: 3 / 11;
    }
    .rgb p {
        margin: 130px 20px;
    }
}