:root {
    --blue-col: rgba(144, 166, 240, 0.897);
    --light-bl: rgba(144, 166, 240, 0.697)
}

body {
    position: absolute;
    top: -14px;
    left: 0;
    height: 100%;
    width: 100%;
    color: #252525;
    font-family: 'Roboto Mono', sans-serif;   
    font-size: 0.9em;  
}

main {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-height: 600px;
    background: url("../images/wood2.jpg")#fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#backg-fade {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #00000067;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

#mySidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    background-color: var(--light-bl);
}

nav a {
    padding: 10px 5px 10px 10px;
    max-width: 40px;
    text-decoration: none;
    color: #362e33;
    display: block;
    transition: 0.2s;
}

a:hover {
    color: #ecdaaf;
}

a .linked {
    position: relative;
    left: 2px;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 2.3em;
    margin-left: 50px;
    text-decoration: none;
    color: #362e33;
    z-index: 3;
}

#menu {
    position: fixed;
    left: 20px;
    top: 20px;
    font-size: 2.2em;
    text-shadow: 0px 0px 6px #000;
    transition: 0.05s;
    color: var(--blue-col);
}

#menu:hover {
    color: #ecdaaf;
}

figure {
    position: relative;
    top: 50px;
}

.img-text {
    position: relative;
    text-align: center;
    align-content: center;
    max-width: 85%;
    margin: auto;
    z-index: 1;
}

.img-text img {
    height: 40%;
    width: 40%;
    border-radius: 50%;
}

h2 {
    font-size: 3em;
    font-weight: 400;
    color: #362e33;
    text-shadow: 1px 1px 10px #65748ba2;
}

.main-text {
    position: relative;
    right: 5px;
    display: block;
    max-width: 85%;
    margin: auto;
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.6em;
    color: #3b3835;
    text-shadow: 1px 1px 8px #65748ba2;
}

.main-text img {
    width: 130px;
    height: 70px;
    position: relative;
    top: -10px;
}

.about  {
    position: relative;
}

.grid {
    display: grid;
    position: relative;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    grid-template: auto auto auto 1fr / repeat(12, 1fr);
    background-color: rgb(46, 60, 105);
}

.banner {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / -1;
    background-color: rgb(46, 60, 105);
}

.face {
    grid-column: 2 / 12;
    grid-row: 1 / 2;
    margin: 30px auto;
    padding: 0px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px #000000;
    max-height: 270px;
}

.about-words {
    grid-column: 1 / 13;
    grid-row: 2 / 3;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: var(--blue-col);
    border-radius: .2rem;
    box-shadow: 0 0 10px #000;

}

.about-words a {
    color: rgba(216, 38, 38, 0.842);
    text-decoration: none;
}

.about-words a:hover {
    color: rgb(253, 46, 46);
}

.git-material {
    grid-column: 2 / 12;
    grid-row: 3 / 4;
    display: grid;
    grid-template: auto repeat(3, auto) / repeat(4, 1fr);
    grid-gap: 10px;
    font-size: 1.9rem;
    font-weight: 700;
    text-align: center;
}

.git-material a {
    width: 100%;   
    min-height: 300px; 
    max-height: 300px; 
    color: #252525;
    text-decoration: none;
    border-radius: .2rem; 
    box-shadow: inset 0 0 0 1000px var(--light-bl), 0 0 10px #252525; 
    transition-duration: 0.1s;
    transition-timing-function: ease-out; 
}

.git-text {
    grid-column: 1 / -1;
    min-height: 0px;
    max-width: 100%;
    font-size: 2rem;    
}

.git-text p {
    margin: 40px auto;
    padding: 15px;
    max-width: 350px;
    background-color: var(--blue-col);
    box-shadow: 0 0 10px #252525;
    border-radius: .2rem;
}

.scoreTrack {
    background: url('../images/scoretrack.jpg') 46% 50%/200% repeat fixed;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

.scoreTrack:hover {
    box-shadow: inset 0 0 0 1000px #a5a4a400;
    transform: scale(1.015, 1.015);
}

.scoreTrack:hover p {
    display: none;
}

.scoreTrack p {
    margin: 90px 20px;
}

.rgb {
    background: url('../images/rgb1.jpg') 44% 100%/200% no-repeat fixed;
    grid-column: 1 / -1; 
    grid-row: 3 / 4;
}

.rgb:hover {
    box-shadow: inset 0 0 0 1000px #a5a4a400;
    transform: scale(1.015, 1.015);
}

.rgb:hover p {
    display: none;
}

.rgb p {
    margin: 110px 20px;    
}

.drum {
    background: url('../images/drum.jpg') -5% 30%/180% no-repeat fixed;
    grid-column: 1 / -1;
    grid-row: 4 / 5;    
}

.drum:hover {
    box-shadow: inset 0 0 0 1000px #a5a4a400; 
    transform: scale(1.015, 1.015);
}

.drum:hover p {
    display: none;
}

.drum p {
    margin: 90px 20px;    
}

.logoArea {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
}

.logo {
    display: block;
    min-width: 200px;
    max-width: 33%;
    filter: drop-shadow(1px 1px 7px #000) invert(1%);
    fill: var(--blue-col);
    margin: auto;
}

@media only screen and (min-width: 550px) {
    main {
        min-height: 800px;
    }
    figure {
        top: 150px;
    }
    .words {
        grid-column: 2 / 12;
        margin: 20px auto;
    }
    .face {
        max-height: 310px;        
    }
    .git-text {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }
    .scoreTrack {  
        background: url('../images/scoretrack.jpg') 46% 20%/280% no-repeat scroll;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    .rgb {
        background: url('../images/rgb1.jpg') 50% 100%/cover no-repeat scroll;
        grid-column: 3 / 5;
        grid-row: 2 / 3;
    }
    .drum {
        background: url('../images/drum.jpg') -5% 30%/cover no-repeat scroll;
        grid-column: 2 / 4;
        grid-row: 4 / 5;
    }
    .logoArea {
        grid-row: 4 / 5;
    }
    .logo {
        display: inline;
        min-width: 100px;
        max-width: 32%;
    }
}

@media only screen and (min-width: 890px) {
    #menu {
        position: fixed;
    }
    .grid {
        background-size: cover;
        background-attachment:fixed;
        background-repeat: no-repeat;
    }
    .words {
        grid-column: 7 / 12;
        grid-row: 1 / 2;
        margin: auto;
    }
    .scoreTrack {
        background-size: 170%;         
    }
    .scoreTrack p {
        margin: 110px 20px;
    }
    .rgb {
        background-position: 20% 0%;
        background-repeat: repeat;
    }
    .drum {
        background: url('../images/drum.jpg') -5% 0%/cover no-repeat scroll;        
    }
    .drum p {
        margin: 110px 20px;
    }
    .logoArea {
        grid-column: 3 / 11;
        margin-top: 50px;
    }
}

@media only screen and (min-width: 1000px) {
    figure {
        top: 16px;
    }
    .img-text img {
        max-height: 350px;
        max-width: 350px;
    }
    .img-text {
        top: 120px;
    }
    .main-text {
        top: 120px;
    }
}

@media only screen and (min-width: 1200px) {
    figure {
        top: 30px;
    }
    .face {
        margin: 50px auto;
    }
    .words {
        grid-column: 7 / 11;
    }
    .git-material {
        grid-column: 3 / 11;
    }
    .rgb p {
        margin: 130px 20px;
    }
}