:root {
    --blue-col: rgba(144, 166, 240, 0.897);
    --light-bl: rgba(144, 166, 240, 0.697)
}

body {
    height: 100%;
    width: 100%;
    background: url("../images/wood2.jpg")#fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Robot Mono', sans-serif;
    color: #252525;    
}

#backg-fade {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #00000067;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

#mySidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    background-color: var(--light-bl);
}

nav a {
    padding: 10px 5px 10px 10px;
    max-width: 40px;
    text-decoration: none;
    color: #362e33;
    display: block;
    transition: 0.2s;
}

a:hover {
    color: #ecdaaf;
}

a .linked {
    position: relative;
    left: 2px;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 2.3em;
    margin-left: 50px;
    text-decoration: none;
    color: #362e33;
    z-index: 3;
}

#menu {
    position: relative;
    left: 20px;
    top: 20px;
    font-size: 2.2em;
    text-shadow: 0px 0px 6px #000;
    transition: 0.05s;
    color: var(--blue-col);
}

#menu:hover {
    color: #ecdaaf;
}

main {
    position: relative;
    top: 50px;
}

.img-text {
    position: relative;
    text-align: center;
    align-content: center;
    max-width: 85%;
    margin: auto;
    z-index: 1;
}

.img-text img {
    height: 40%;
    width: 40%;
    border-radius: 50%;
}

h2 {
    font-size: 3em;
    font-weight: 400;
    color: #362e33;
    text-shadow: 1px 1px 10px #65748ba2;
}

.main-text {
    position: relative;
    right: 5px;
    display: block;
    max-width: 85%;
    margin: auto;
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.6em;
    color: #3b3835;
    text-shadow: 1px 1px 8px #65748ba2;
}

.main-text img {
    width: 130px;
    height: 70px;
    position: relative;
    top: -10px;
}

@media only screen and (min-width: 550px) {
    main {
        top: 150px;
    }
}

@media only screen and (min-width: 1000px) {
    main {
        top: 16px;
    }
    .img-text img {
        max-height: 350px;
        max-width: 350px;
    }
    .img-text {
        top: 120px;
    }
    .main-text {
        top: 120px;
    }
}